.Chandrashekhar-Azad{
    font-family: Garamond, serif;
    font-style: italic;
    font-size: 100px;
    color: darkblue;
}

.gradient-background{
    background : linear-gradient(360deg, #C58940, #E5BA73, #FAEAB1, #FAF8F1)
}

.azad-image{
    height: 530px;
    width: 100%;
}

.gradient-background-2{
    background : linear-gradient(90deg, #000000, #16FF00, #16FF00, #000000)
}

body{
    background: linear-gradient(90deg, orange, white, green);
}

.left{
    height: 130px;
    border-radius: 50%;
    float: left;
}

.young-azad{
    height: 200px;
    border-radius: 50%;
    float: right;
}

.Jallianwallah-Bagh{
    height: 120px;
    border-radius: 50%;
    float: left;
}

.HRA-2{
    height: 80px;
    border-radius: 50%;
    float: right;
}


.Kakori-Conspiracy{
    /* display: block; */
    float: left;
    width: 40%;
    height: 170px;
    border-radius: 50%;
}

.Lahore-Conspiracy{
    height: 350px;
    float: right;
    border-radius: 10%;
}

.Martyrdom{
    height: 120px;
    float: left;
    border-radius: 50%;
}

.Legacy{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}